{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% block title %} {% endblock title %}
    </head>
    <body class="bg-light">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container">
                {% if user.is_authenticated %}
                <a class="navbar-brand {% if nav != 'home' %}text-muted{% endif %}" href="{% url 'home' %}"><span style="color: grey;">Traveller</span><span style="color: black;">Plan</span></a>
                {% else %}
                <a class="navbar-brand {% if nav != 'home' %}text-muted{% endif %}" href="{% url 'homepage' %}"><span style="color: grey;">Traveller</span><span style="color: black;">Plan</span></a>
                {% endif %}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="#">Planner</a>
                    <a class="nav-item nav-link" href="#">Checklist</a>
                    <a class="nav-item nav-link {% if nav == 'weather' %}active{% endif %}" href="{% url 'weather' %}">Weather</a>
                    <a class="nav-item nav-link" href="#">Recommendation</a>
                    <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                    <a class="nav-item nav-link {% if nav == 'register' %}active{% endif %}" href="{% url 'register' %}">Register</a>
                    <a class="nav-item nav-link {% if nav == 'login' %}active{% endif %}" href="{% url 'login' %}">Login</a>
                    {% endif %}
                </div>
            </div>
        </nav>

        {% if messages %}
        <div class="container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {% endif %}

        {% block home %} {% endblock home %}

        <footer class="bg-light">
            <div class="container">
              <div class="small text-center text-muted" style="color:dimgray;">
                <span style="color:dimgray;">Copyright &copy; 2021 - TravellerPlan</span>
              </div>
            </div>
        </footer>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>